version: "3"

services:
  db:
    image: mysql:5.7
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: takwimu
      MYSQL_USER: takwimu
      MYSQL_PASSWORD: takwimu
      MYSQL_ROOT_PASSWORD: takwimu
  es:
    image: blacktop/elasticsearch:6.3
    ports:
      - "9200:9200"
    environment:
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      
  web:
    image: wordpress
    depends_on:
      - db
      - es
    restart: always
    ports:
      - 8080:80
    volumes:
      - ./wp-content:/var/www/html/wp-content
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: takwimu
      WORDPRESS_DB_USER: takwimu
      WORDPRESS_DB_PASSWORD: takwimu
      ELASTICSEARCH_INDEX: takwimu
      ELASTICSEARCH_HOST: http://es:9200
volumes:
  db-data:
